html {
	font-size: 16px;
}

li { 
    margin-bottom: 1%;
    color: #000000;
}
 
p {
	font-size: 18px;
	margin-left: 1%;
	margin-top: 1%;
}
footer {
  background: #666666;
  color: #ffffff;
  padding: 30px;
  clear: both;
  border-top: 8px solid #4aaaa5;
  font-size: 12px;
  text-align: center;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

#bodyinput {
    width: 50%;
}
.navbar {
  background: #666666;
  padding: 30px;
  clear: both;
  border-top: 8px solid #4aaaa5;
  border-bottom: 8px solid #4aaaa5;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  width: 100%;

}
.jumbotron {
	overflow: hidden;
    background-size:100%;
    background-position: center;
    background-image: url('../images/newspaper.png');
    background-repeat: no-repeat;
    background-color: transparent;
    height:730px;
    width: 100%;
}

.panel-heading.row {
	width: 100%;
    margin-left: 0%;
}

.panel-primary {
    height: 135px;
}

#savenote {
    display: block;
}

/* 
  These rules take effect when the browser's width
  is 640px or less.
*/
@media screen and (max-width: 640px) {
	
}